.nav4 ul{
   list-style-type:none;
  background-color: #3399ff;
  padding: 0px;
  margin: 
  overflow: hidden;
    
}
.nav4 a{
color:white;
text-decoration:none;
padding: 15px;
display: block;
text-align: center;
}
.nav4 li{
  float: left;

  
}

