.nav4 ul{
   list-style-type:none;
  background-color: orange;
  padding: 0px;
  margin: 
    
}
.nav4 a{
color:white;
text-decoration:none;
padding: 15px;
display: block;
text-align: center;
}
.nav4 li{
  

  
}

